<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      background-color:transparent;
    }
  </style>
  <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<input type = "button" value = "click me" class = "button" />
<br />

<span id = "demo"></span>
<br />
<div id="map" style="width: 500px; height: 400px;"></div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">


  $(document).ready(function() {

    $(".button").click(function(){

      $.ajax({
        type: 'GET',
        url: 'https://cse5335-axg0735.herokuapp.com/users',
        dataType:'json',
        contentType:'application/json; charset=utf-8',

        success: function(data) {

          var arr = data;
          var i;
          var out = "<table>";

          for(i = 0; i < arr.length; i++) {
            out += "<table border='1' id='table' style ='width:50%'> <tr><td style = 'width:50%'>" +
                    arr[i].name +
                    "</td><td>" +
                    arr[i].location +
                    "</td></tr></table>";
          }
          out += "</table>";


          document.getElementById("demo").innerHTML= out;

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: new google.maps.LatLng(40.960715,-73.990173),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          });

          var infowindow = new google.maps.InfoWindow();

          var marker, i;

          for (i = 0; i < arr.length; i++) {
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(arr[i].l0, arr[i].l1),
              map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                infowindow.setContent(arr[i].location);
                infowindow.open(map, marker);
              }
            })(marker, i));
          }
        },
        error: function (result) {
          alert("Error");
        }

      });
    });
  });

</script>
</body>
</html>




